@charset "utf-8";
/* CSS Document */
a { color: #a6a6a6; text-decoration: none; transition: All 0.5s ease; -webkit-transition: All 0.5s ease; -moz-transition: All 0.5s ease; -o-transition: All 0.5s ease; }
body{background-color:rgb(221,214,204);margin:0px;padding:0px;font:12px “宋体”; line-height: 1.5}
.nav{width:100%;height:43px;margin:0px;font-size:12px;background: linear-gradient(#FFF,#C9C);}
.text{margin-left:163px;font-style:normal;}
.font{
	text-align: center;
	line-height: 43px;
	width: 90px;
	float: left;
	font: 12px;
	height: 43px;
	color: #D6D6D6;
}
.text a{ text-decoration: none;color: #484848;float:left;width:90px;}
.text a:hover{color:#fff; background:#F16E50;transform: skew(-20deg); -webkit-transform: skew(-20deg); -moz-transform: skew(-20deg); -o-transform: skew(-20deg);}


.container{background:#E8E5DD;width:1000px;margin:20px auto;height:531px;}

.left{width:270px;float:left;}
.circle{width:160px;height:160px;background:url(../Images/photo.jpg);border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius:50%;background-size:160px 160px;margin:20px;overflow: hidden;}
.circlefont{padding-top:100px;padding-right:120px;}
.circlefont a{font-size:12px; text-decoration:none;color:#CCC;}
.circlefont a:hover{color:#333;}
.middleline{color:#FFF;font-weight:bold; clear:left;background:#f16e50;width:240px;height:30px;line-height:30px;font-size:14px;padding-left:30px;}
.middle{width:100%;clear:left;height:120px;}
ul{list-style:none;padding-left:30px;padding-right:20px;padding-bottom:20px;}
li{width:48px;height:48px;float:left;margin-right:0px;margin-left:2px;margin-bottom:2px;}
li img{width:48px;height:48px;}
.inves{padding:20px 30px;font-size:12px;}

.right{width:730px;background:#FFF;float:right;}
.head{padding:38px 60px 8px 80px;background:url(../Images/titlebg.png) no-repeat;background-position:5% 80%;width:590px;display: inline-block; border-bottom: 1px solid #e2e2e2;}
.head a{text-decoration:none; color:#000;font-size:20px; font-weight:bold;}
.head a:hover{padding:30px;}
.text2{font-size: 14px;padding: 5px 40px; }
.text2 p { line-height: 24px; margin-bottom: 10px }

.footer{width:100%;border-top:9px solid #F60;background:#242221;clear:both;padding-top:10px;}
.footerfont{font-size:12px;text-align:center;color:#CCC;margin:0px;}
.footerfont a{color:#F60; text-decoration:none;}

